@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600;800&family=Oswald:wght@300&display=swap');
/* FILEPATH: /C:/Users/Alex Mullins/Documents/Coding/Project 4/Project-4/assets/css/style.css */

/* Container styles */

/*--------------------------------General Styling*/
h2 {
    font-family: "klee One", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: calc(10px + 2vw);
}

h3 {
    font-family: "klee One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(10px + 1vw);
}

/*--------------------------------Landing Page*/
.landing-container {
    height: 100vh;

    background: url(../images/tennis-player.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

/*--------------------------------Header*/
.header-text {
    color: white;
    font-size: calc(15px + 5vw);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

/*--------------------------------Content Styling*/
.join-container {
    font-family: "Klee One", sans-serif;
    background-color: antiquewhite;
    font-size: calc(10px + 0.5vw);
}

.community-container {
    font-family: "Klee One", sans-serif;
    background-color: lightblue;
    font-size: calc(10px + 0.5vw);
}

.testimonials-container {
    font-family: "Klee One", sans-serif;
    background-color: lightgreen;
    font-size: calc(10px + 0.5vw);
}

.about-container {
    font-family: "Klee One", sans-serif;
    background-color: lightcoral;
    font-size: calc(10px + 0.5vw);
}

/*--------------------------------Footer*/
.footer-container {
    font-family: "Oswald", sans-serif;
    background-color: rgb(32, 31, 31);
    color: white;
    font-size: calc(10px + 0.5vw);
    text-align: center;
    padding: 10px;
}

.footer-contact p {
    color: rgb(87, 175, 99);
    font-size: larger;
}
.social-buttons {
    padding-top: 10px;
}

/* Design ideas insired by the Resume project guide */
.social-buttons li a i {
    width: 34px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(150, 150, 150);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-buttons li a i:hover {
    background-color: rgb(87, 175, 99);
}

/*--------------------------------Media Queries*/