/* FILEPATH: /C:/Users/Alex Mullins/Documents/Coding/Project 4/Project-4/assets/css/style.css */

/* Global styles */

.landing-container {
    height : 100vh;
}

.join-container {
    height : 25vh;
    background-color: antiquewhite;
}