@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600;800&family=Oswald:wght@300&display=swap');
/* FILEPATH: /C:/Users/Alex Mullins/Documents/Coding/Project 4/Project-4/assets/css/style.css */

/* Container styles */

/*--------------------------------General Styling*/
h2 {
    font-family: "klee One", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: calc(10px + 2vw);
}

h3 {
    font-family: "klee One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(10px + 1vw);
}

/*--------------------------------Landing Page*/
.landing-container {
    height: 100vh;

    background: url(../images/tennis-player.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

/*--------------------------------Header*/
.header-text {
    color: white;
    font-size: calc(15px + 5vw);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

/*--------------------------------Content Styling*/
.join-container {
    background-color: antiquewhite;
    font-size: calc(10px + 0.5vw);
}

.community-container {
    background-color: lightblue;
    font-size: calc(10px + 0.5vw);
}

.testimonials-container {
    background-color: lightgreen;
    font-size: calc(10px + 0.5vw);
}

.about-container {
    background-color: lightcoral;
    font-size: calc(10px + 0.5vw);
}
